* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-snap-type: y mandatory;
}

@font-face {
  font-family: "GothamSSm-Bold";
  src: url("/assets/fonts/GothamSSm-Bold_Web.woff2") format("woff2");
}
@font-face {
  font-family: "GothamSSm-Book";
  src: url("/assets/fonts/GothamSSm-Book_Web.woff2") format("woff2");
}
@font-face {
  font-family: "GothamSSm-Light";
  src: url("/assets/fonts/GothamSSm-Light_Web.woff2") format("woff2");
}
@font-face {
  font-family: "GothamSSm-Medium";
  src: url("/assets/fonts/GothaMedium_Web.woff2") format("woff2");
}

button {
  cursor: pointer;
}

.logo-container {
  z-index: 9999;
  margin: auto;
  top: 25px;
  left: 40px;
  width: 120px;
  height: 70px;
  position: fixed;
  fill: #fff;
  cursor: pointer;
}

.page {
  height: 100vh;
  scroll-snap-align: start;
}

.page-1 {
  background: url("/assets/img/M3-Hero-LHD-US-D.jfif") no-repeat center
    center/cover;
}

.container {
  position: fixed;
  top: 20px;
  left: 450px; /* TODO */
  width: 78%;
}

.navbar {
  margin-left: auto;
}

.navbar-mid-buttons {
  float: left;
  width: 65%;
}
.navbar-right-buttons {
  float: right;
  width: 35%;
}

.clr {
  margin: auto;
}

.roundbtn {
  border-style: none;
  border-radius: 22px;
  border-style: none;

  line-height: 21px;
  height: 32px;
  width: 100px;
  background: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "GothamSSm-Bold";
}

.roundbtn:hover {
  background-color: #334;
  opacity: 0.45;
  border-radius: 20px;
}

.side-btn-menu {
  display: inline-block;
  position: fixed;
  margin-left: 20px;
  margin-top: 355px;
  width: 50px;
}

.side-btn-menu ul {
  list-style: none;
}

.sbm-link {
  width: 350px;
}

.side-btn {
  background-color: gray;
  width: 1px;
  height: 24px;
  border: none;
}

.side-btn--active {
  background-color: white;
  width: 3px;
  height: 24px;
  border: none;
}

.sbm-link-label {
  visibility: hidden;
  color: white;
  font-size: 11px;
  margin-left: 5px;
}

.sbm-link:hover .sbm-link-label {
  visibility: visible;
}

.title-container {
  position: relative;
  text-align: center;
  top: 150px;
  margin-bottom: 750px;
}

.title-container h1 {
  color: white;
  font-size: 39px;
  letter-spacing: 0.2px;
  line-height: 48px;
  font-family: "GothamSSm-Book";
}

.bottom-bar {
  display: inline-block;
  text-align: center;
  margin-left: 410px;
  min-width: 800px;
  width: 400px;
}

.callout-container {
  display: inline-block;
  position: relative;
  fill: #fff;
  color: white;
  cursor: text;
  padding: 0 30px;
  font-family: "GothamSSm-Light";
  font-weight: 900;
}

.callout-container h3 {
  font-size: 28px;
  letter-spacing: 0.6px;
  line-height: 1.8em;
}

.callout-container span {
  font-size: 12px;
  letter-spacing: 0.05em;
}

.speed-container {
  float: left;
}

.speed-title {
  float: right;
  font-size: 28px;
  letter-spacing: 0.05em;
}

.speedometer {
  height: 46px;
  width: 53px;
}

.order-button-container {
  float: right;
  display: block;
  margin-left: -120px;
  margin-top: 10px;
}

.order-button {
  background-color: transparent;
  background-repeat: no-repeat;
  line-height: 1.42857143;
  border-radius: 22px;
  border: white solid 3px;
  color: white;
  width: 150px;
  height: 40px;
}

.order-button:hover {
  background: white;
  color: black;
}

.down-arrow-container {
  text-align: center;
  margin-top: 20px;
}

.down-arrow-container button {
  border: none;
  background: transparent;
  color: white;
}

/* Page 2 */

.side-article {
  float: left;
  width: 23%;
  height: 100vh;
  text-align: left;
  line-height: 1.5em;
}

.side-article h4 {
  font-family: "GothamSSm-Light";
  font-weight: 100;
}
.side-article h2 {
  font-family: "GothamSSm-Light";
  font-weight: 600;
  font-size: 26px;
}
.side-article p {
  font-family: "GothamSSm-Book";
  font-size: 14px;
}

.card-container {
  overflow: visible;
  margin: 50px 40px;
}

.img-container {
  background: url("/assets/img/tesla_safety_hero.png") no-repeat center
    center/cover;
  float: right;
  width: 77%;
  height: 100%;
  text-align: right;
}

.safety-table-cantainer {
  margin-top: 5px;
}

.order-plus-btn-container {
  filter: invert();
  color: white;
  font-family: "GothamSSm-Light";
  width: 350px;
}

.opbc-p2 {
  margin-bottom: auto;
  margin-top: 65%;
}

.order-plus-btn-container span {
  padding-right: 8px;
}

.plus-button {
  width: 45px;
  height: 45px;
  font-size: 20px;
}

.sbm-inverted {
  filter: invert();
}

.up-arrow-container {
  position: relative;
  margin-top: 19px;
  margin-right: 36px;
}

.up-arrow-container button {
  border: none;
}

.page-3 {
  bottom: 0;
}

.img-container-p3 {
  display: block;
  background: url("/assets/img/lhd-performance-hero-desktop.jfif") no-repeat
    center center/cover;
  height: 73.8vh;
}

.filler-p3-img {
  height: 555px;
}

.callout-bar {
  margin-left: 410px;
  height: 300px;
}

.callout-container-p3 {
  display: inline-block;
  text-align: center;
  fill: #fff;
  color: white;
  cursor: text;
  padding: 0 0px;
  font-family: "GothamSSm-Light";
  font-weight: 900;
  width: 300px;
}

.callout-container-p3 h3 {
  font-size: 25px;
  letter-spacing: 0.6px;
  line-height: 1.8em;
}

.callout-container-p3 span {
  font-size: 12px;
  letter-spacing: 0.05em;
}

.speedometer-p3 {
  display: inline-block;
  height: 26px;
  width: 61px;
}

.speed-title-p3 {
  display: inline-block;
}

.awd {
  width: 350px;
}

/* Page 3 */
.bottom-section {
  text-align: left;
  margin: 50px 410px;
}

.bottom-section--left {
  float: left;
  width: 33%;
  line-height: 30px;
}
.bottom-section--right {
  float: right;
  width: 63%;
}

.bottom-section h4 {
  font-family: "GothamSSm-Light";
  font-weight: 100;
}

.bottom-section h2 {
  font-family: "GothamSSm-Light";
  font-weight: 600;
  font-size: 26px;
}

.bottom-section p {
  font-family: "GothamSSm-Book";
  font-size: 14px;
  color: gray;
}

.opbc-p3 {
  color: darkgrey;
  margin-top: 10%;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.ob-p3 {
  width: 130px;
  color: darkgrey;
}
